   set nocompatible              " be iMproved, required
   filetype off	                " required

   " set the runtime path to include Vundle and initialize
   set rtp+=~/.vim/bundle/Vundle.vim
   call vundle#begin()
   " alternatively, pass a path where Vundle should install plugins
   "call vundle#begin('~/some/path/here')

   " let Vundle manage Vundle, required
   Plugin 'VundleVim/Vundle.vim'

"Plugin 'git://github.com/Valloric/YouCompleteMe.git'

   " The following are examples of different formats supported.
   " Keep Plugin commands between vundle#begin/end.
   " plugin on GitHub repo
   Plugin 'tpope/vim-fugitive'
   " plugin from http://vim-scripts.org/vim/scripts.html
   " Plugin 'L9'
   " Git plugin not hosted on GitHub
   Plugin 'git://git.wincent.com/command-t.git'
   " git repos on your local machine (i.e. when working on your own plugin)
   " Plugin 'file:///home/gmarik/path/to/plugin'
   " The sparkup vim script is in a subdirectory of this repo called vim.
   " Pass the path to set the runtimepath properly.
   Plugin 'rstacruz/sparkup', {'rtp': 'vim/'}
   " Install L9 and avoid a Naming conflict if you've already installed a
   " different version somewhere else.
   " Plugin 'ascenator/L9', {'name': 'newL9'}


" pep8 plugin

" vim-flake8 or flake8-vim?
" some errors, python version? *62 2020-10-18
Plugin 'andviro/flake8-vim'
" no error but less warnings, *956 2020-10-18
" Plugin 'nvie/vim-flake8'

" python syntax checking *10.6k 2020-10-18
Plugin 'vim-syntastic/syntastic'

" jedi complete for python *4.6k
Plugin 'davidhalter/jedi-vim'

" YCM generic autocomple **22k
" YouCompleteMe unavailable: requires Vim compiled with Python (3.6.0+) support.
" vim must be version 8.1.2269+
Bundle 'Valloric/YouCompleteMe'

" nerdtree for productivity
Plugin 'scrooloose/nerdtree'
let NERDTreeIgnore=['\.pyc$', '\~$'] "ignore files in NERDTree

" conda env for :python % and possible for autocomplete, :CondaChangeEnv<ENTER>
Plugin 'cjrh/vim-conda'

" it does not seem this is needed, added anyway to experience
" Plugin 'Vimjas/vim-python-pep8-indent'

" perl5
" Plugin 'vim-perl/vim-perl', { 'for': 'perl', 'do': 'make clean carp dancer highlight-all-pragmas moose test-more try-tiny' }
" Plugin 'c9s/perlomni.vim'
" Plugin 'vim-scripts/perl-support.vim'

"python with virtualenv support -- not the same conda?

   " All of your Plugins must be added before the following line
   call vundle#end()            " required
   filetype plugin indent on    " required
   " To ignore plugin indent changes, instead use:
   "filetype plugin on
   "
   " Brief help
   " :PluginList       - lists configured plugins
   " :PluginInstall    - installs plugins; append `!` to update or just :PluginUpdate
   " :PluginSearch foo - searches for foo; append `!` to refresh local cache
   " :PluginClean      - confirms removal of unused plugins; append `!` to auto-approve removal
   "
   " see :h vundle for more details or wiki for FAQ
   " Put your non-Plugin stuff after this line
   
 " make your code look pretty
let python_highlight_all=1
syntax on

" Use perl compiler for all *.pl and *.pm files.
autocmd BufNewFile,BufRead *.p? compiler perl
let g:syntastic_check_on_open = 0
let g:syntastic_check_on_wq = 1
